.idea
.DS_Store
/application/run/.env
/application/simple-app/.env
/application/simple-app/public/mix-manifest.json
/application/simple-app/public/js/app.js
/application/simple-app/public/css/app.css
/application/simple-app/vendor
/application/simple-app/bootstrap/cache
/application/simple-app/storage/debugbar
/application/simple-app/storage/framework/cache
/application/simple-app/storage/framework/sessions
/application/simple-app/storage/framework/testing
/application/simple-app/storage/framework/views
/application/simple-app/storage/logs
